<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Final Game Project | Portfolio</title>
  <!link rel="stylesheet" href="style.css" />
</head>
<body>
  <header>
    <h1>Final Game Project</h1>
    <nav>
      <a href="index.html">← Back to Portfolio</a>
    </nav>
  </header>

  <main class="project-page">
    <h2>Final Game Project</h2>
    <div class="tags">
      <span class='tag'>Unity</span> <span class='tag'>C#</span> <span class='tag'>3D</span> <span class='tag'>Jam</span>
    </div>
    <p><strong>GitHub:</strong> 
      <a href="https://github.com/Sukimo" target="_blank">https://github.com/Sukimo</a>
    </p>
    <p class="desc-main"><strong>Overview:</strong> Prototyped a complete gameplay loop during a 3-month internship.<br>
    <strong>Genre:</strong> 3D Action Platformer</p>

    <p>Worked with enemy AI, health system, player controls, UI, and level design. Used Unity physics and ScriptableObjects.</p>

    <div class="media-grid">
      <img src='images/final-project1.png' alt='Project Media'>
<img src='images/final-project2.png' alt='Project Media'>
<video src='videos/final-project-demo.mp4' controls></video>

    </div>
  </main>

  <footer>
    <p>© 2025 Good Duck!</p>
  </footer>
</body>
</html>
